<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>
   <extension
         id="edu.rice.cs.hpc"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="edu.rice.cs.hpc.HPCViewer">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="edu.rice.cs.hpc.Perspective"
            icon="icons/hpc-16x16.png"
            id="edu.rice.cs.hpc.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="hpcviewer"
            class="edu.rice.cs.hpc.viewer.scope.ScopeView"
            icon="icons/hpc-16x16.png"
            id="edu.rice.cs.hpc.scope.ScopeView"
            name="ScopeView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="edu.rice.cs.hpc.actionSet"
            label="Database"
            visible="true">
            <menu
               id="FileMenu"
               label="&amp;File">
            	<separator
                  name="databaseGroup">
            	</separator>
             <separator
                   name="PreferenceGroup">
             </separator>
             <separator
                   name="ExitGroup">
             </separator>
         	</menu>
         <action
               class="edu.rice.cs.hpc.viewer.actions.MergeExperiment"
               icon="icons/hpc-merged-16x16.png"
               id="edu.rice.cs.hpc.viewer.actions.MergeExperiment"
               label="&amp;Merge database ..."
               menubarPath="FileMenu/databaseGroup"
               toolbarPath="experimentGroup"
               tooltip="Merge 2 experiment files">
         </action>
         <action
               class="edu.rice.cs.hpc.viewer.actions.DisplayExperiment"
               icon="icons/xml.png"
               id="edu.rice.cs.hpc.viewer.actions.DisplayExperiment"
               label="&amp;Display database XML file"
               menubarPath="FileMenu/databaseGroup"
               toolbarPath="experimentGroup"
               tooltip="Display the XML content of the experiment">
         </action>
            
         <action
               class="edu.rice.cs.hpc.viewer.actions.LoadExperiment"
               icon="icons/hpc-16x16.png"
               id="edu.rice.cs.hpc.viewer.actions.LoadExperiment"
               label="&amp;Open database ..."
               menubarPath="FileMenu/databaseGroup"
               toolbarPath="experimentGroup"
               tooltip="Load an XML experiment file ...">
         </action>
         <action
               class="edu.rice.cs.hpc.viewer.actions.Preferences"
               id="edu.rice.cs.hpc.viewer.actions.preferences"
               label="Preferences ..."
               menubarPath="FileMenu/PreferenceGroup">
         </action>
         <action
               class="edu.rice.cs.hpc.viewer.actions.Quit"
               id="edu.rice.cs.hpc.viewer.actions.Quit"
               label="&amp;Exit"
               menubarPath="FileMenu/ExitGroup">
         </action>
      </actionSet>
   </extension>
   <extension
         id="hpcviewer"
         point="org.eclipse.core.runtime.products">
      <product
            application="edu.rice.cs.hpc"
            name="hpcviewer">
         <property
               name="appName"
               value="hpcviewer">
         </property>
         <property
               name="aboutImage"
               value="icons/hpcviewerEclipseShadow128.png">
         </property>
         <property
               name="aboutText"
               value="hpcviewer is a user interface for analyzing a database of   &#x0A;performance metrics in conjunction with an application&apos;s source code.&#x0A;&#x0A;hpcviewer is part of Rice University&apos;s HPCToolkit project.  Development of &#x0A;HPCToolkit is principally funded by the Department of Energy&apos;s Office of &#x0A;Science as part of the SciDAC Center for Scalable Application Development&#x0A;Software and the Performance Engineering Research Institute.&#x0A;&#x0A;(C) Copyright 2007, Rice University">
         </property>
         <property
               name="windowImages"
               value="icons/hpcviewerEclipseShadow16.png,icons/hpcviewerEclipseShadow32.png,icons/hpcviewerEclipseShadow48.png,icons/hpcviewerEclipseShadow64.png,icons/hpcviewerEclipseShadow128.png">
         </property>
      </product>
   </extension>
   <extension
      point="org.eclipse.ui.editors">
	   <editor
          class="edu.rice.cs.hpc.viewer.util.SourceCodeEditor"
          default="true"
          extensions="*"
          icon="icons/hpc-16x16.gif"
          id="edu.rice.cs.hpc.viewer.util.SourceCodeEditor"
          name="Source Code Editor">
   		</editor>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="edu.rice.cs.hpc.splashHandlers.BrowserSplashHandler"
            id="edu.rice.cs.hpc.splashHandlers.browser">
      </splashHandler>
      <splashHandler
            class="edu.rice.cs.hpc.splashHandlers.ExtensibleSplashHandler"
            id="edu.rice.cs.hpc.splashHandlers.extensible">
      </splashHandler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="edu.rice.cs.hpc.viewer.util.PreferencePage"
            id="edu.rice.cs.hpc.viewer.util.PreferencePage"
            name="hpcviewer Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.rice.cs.hpc.viewer.util.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
