<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="edu.rice.cs.hpc"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="edu.rice.cs.hpc.HPCVision">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="edu.rice.cs.hpc.Perspective"
            icon="icons/hpc-16x16.png"
            id="edu.rice.cs.hpc.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="HPCViewer"
            class="edu.rice.cs.hpc.viewer.scope.ScopeView"
            icon="icons/hpc-16x16.png"
            id="edu.rice.cs.hpc.scope.ScopeView"
            name="ScopeView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="edu.rice.cs.hpc.actionSet"
            label="Experiment"
            visible="true">
            <menu
               id="experimentMenu"
               label="&amp;Experiment">
            	<separator
                  name="experimentGroup">
            	</separator>
         	</menu>
            
         <action
               class="edu.rice.cs.hpc.viewer.actions.LoadExperiment"
               icon="icons/hpc-16x16.png"
               id="edu.rice.cs.hpc.actions.LoadExperiment"
               label="&amp;Load experiment ..."
               menubarPath="experimentMenu/experimentGroup"
               toolbarPath="experimentGroup"
               tooltip="Load an XML experiment file ...">
         </action>
         <action
               class="edu.rice.cs.hpc.viewer.actions.MergeExperiment"
               icon="icons/Flatten.gif"
               id="edu.rice.cs.hpc.actions.MergeExperiment"
               label="&amp;Merge experiments"
               menubarPath="experimentMenu/experimentGroup"
               toolbarPath="experimentGroup"
               tooltip="Merge 2 experiment files">
         </action>
      </actionSet>
   </extension>
   <extension
         id="hpcviewer"
         point="org.eclipse.core.runtime.products">
      <product
            application="edu.rice.cs.hpc"
            name="HPCViewer">
         <property
               name="appName"
               value="HPCViewer">
         </property>
         <property
               name="aboutImage"
               value="icons/hpc-32x32.gif">
         </property>
         <property
               name="aboutText"
               value="HPCToolkit: HPCViewer&#x0A;(C) Copyright 2007, Rice University">
         </property>
         <property
               name="windowImages"
               value="icons/hpc-16x16.gif,icons/hpc-32x32.gif">
         </property>
      </product>
   </extension>
</plugin>
