<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="edu.rice.cs.hpc.viewer"
         name="hpcviewer"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/hpcviewerEclipse48.gif">
         <run
               class="edu.rice.cs.hpc.viewer.framework.HPCViewer">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="edu.rice.cs.hpc.viewer.framework.Perspective"
            icon="icons/hpc-16x16.png"
            id="edu.rice.cs.hpc.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="edu.rice.cs.hpc.viewer.scope.ScopeView"
            icon="icons/cct.png"
            id="edu.rice.cs.hpc.viewer.scope.ScopeView"
            name="ScopeView">
      </view>
      <view
            class="edu.rice.cs.hpc.viewer.scope.FlatScopeView"
            icon="icons/flat.png"
            id="edu.rice.cs.hpc.viewer.scope.FlatScopeView"
            name="FlatScopeView">
      </view>
      <view
            class="edu.rice.cs.hpc.viewer.scope.CallerScopeView"
            icon="icons/caller.png"
            id="edu.rice.cs.hpc.viewer.scope.CallerScopeView"
            name="CallerView">
      </view>
      <view
            allowMultiple="true"
            class="edu.rice.cs.hpc.viewer.graph.ThreadView"
            icon="icons/graphview.png"
            id="edu.rice.cs.hpc.viewer.graph.ThreadView"
            name="Thread view"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="edu.rice.cs.hpc.viewer.scope.ThreadScopeView"
            icon="icons/cct.png"
            id="edu.rice.cs.hpc.viewer.scope.ThreadScopeView"
            name="Thread scope view"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="edu.rice.cs.hpc.actionSet"
            label="Database"
            visible="true">
            <menu
               id="DebugMenu"
               label="&amp;Debug">
            	<separator
                  name="debugGroup">
            	</separator>
         	</menu>
            <menu
               id="FileMenu"
               label="&amp;File">
            	<separator
                  name="databaseGroup">
            	</separator>
             <separator
                   name="PreferenceGroup">
             </separator>
             <separator
                   name="ExitGroup">
             </separator>
         	</menu>
         <action
               class="edu.rice.cs.hpc.viewer.actions.DisplayExperiment"
               id="edu.rice.cs.hpc.viewer.actions.DisplayExperiment"
               label="&amp;Display a database&apos;s raw XML"
               menubarPath="DebugMenu/debuggingGroup">
         </action>
         <action
               class="edu.rice.cs.hpc.viewer.actions.LoadExperiment"
               id="edu.rice.cs.hpc.viewer.actions.LoadExperiment"
               label="&amp;Open database..."
               menubarPath="FileMenu/databaseGroup">
         </action>
         <action
               class="edu.rice.cs.hpc.viewer.actions.NewWindow"
               id="edu.rice.cs.hpc.viewer.actions.NewWindow"
               label="&amp;New Window"
               menubarPath="FileMenu/databaseGroup">
         </action>
         <action
               class="edu.rice.cs.hpc.viewer.actions.Preferences"
               id="edu.rice.cs.hpc.viewer.actions.preferences"
               label="Preferences..."
               menubarPath="FileMenu/PreferenceGroup">
         </action>
         <action
               class="edu.rice.cs.hpc.viewer.actions.Quit"
               id="edu.rice.cs.hpc.viewer.actions.Quit"
               label="&amp;Exit"
               menubarPath="FileMenu/ExitGroup">
         </action>
      </actionSet>
   </extension>
   <extension
         id="hpcviewer"
         point="org.eclipse.core.runtime.products">
      <product
            application="edu.rice.cs.hpc.viewer"
            name="hpcviewer">
         <property
               name="appName"
               value="hpcviewer">
         </property>
         <property
               name="aboutImage"
               value="icons/hpcviewerEclipseShadow128.png">
         </property>
         <property
               name="aboutText"
               value="hpcviewer is a user interface for analyzing a database of   &#x0A;performance metrics in conjunction with an application&apos;s source code.&#x0A;&#x0A;hpcviewer is part of Rice University&apos;s HPCToolkit project.  Development of &#x0A;HPCToolkit is principally funded by the Department of Energy&apos;s Office of &#x0A;Science as part of the SciDAC Center for Scalable Application Development&#x0A;Software and the Performance Engineering Research Institute.&#x0A;&#x0A;(C) Copyright 2010, Rice University">
         </property>
         <property
               name="windowImages"
               value="icons/hpcviewerEclipseShadow16.png,icons/hpcviewerEclipseShadow32.png,icons/hpcviewerEclipseShadow48.png,icons/hpcviewerEclipseShadow64.png,icons/hpcviewerEclipseShadow128.png">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupProgressRect"
               value="1,273,245,7">
         </property>
      </product>
   </extension>
   <extension
      point="org.eclipse.ui.editors">
	   <editor
          class="edu.rice.cs.hpc.viewer.util.SourceCodeEditor"
          default="true"
          extensions="*"
          icon="icons/hpc-16x16.png"
          id="edu.rice.cs.hpc.viewer.util.SourceCodeEditor"
          name="Source Code Editor">
   		</editor>
    <editor
          class="edu.rice.cs.hpc.viewer.help.HTMLEditor"
          icon="icons/hpc-merged-16x16.png"
          id="edu.rice.cs.hpc.viewer.util.HTMLEditor"
          name="Web editor">
    </editor>
    <editor
          class="edu.rice.cs.hpc.viewer.graph.GraphEditorPlot"
          default="false"
          extensions="*"
          icon="icons/graphview.png"
          id="edu.rice.cs.hpc.viewer.graph.GraphEditorPlot"
          name="Plot editor">
    </editor>
    <editor
          class="edu.rice.cs.hpc.viewer.graph.GraphEditorPlotSort"
          default="false"
          extensions="*"
          icon="icons/graphview.png"
          id="edu.rice.cs.hpc.viewer.graph.GraphEditorPlotSort"
          name="Sort editor">
    </editor>
    <editor
          class="edu.rice.cs.hpc.viewer.graph.GraphEditorHisto"
          default="false"
          extensions="*"
          icon="icons/graphview.png"
          id="edu.rice.cs.hpc.viewer.graph.GraphEditorHisto"
          name="Histogram editor">
    </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="edu.rice.cs.hpc.viewer.util.PreferencePage"
            id="edu.rice.cs.hpc.viewer.util.PreferencePage"
            name="hpcviewer Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.rice.cs.hpc.viewer.util.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="edu.rice.cs.hpc.viewer.action.graph.threadMetrics"
            label="label">
      </actionSet>
   </extension>
</plugin>
