<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="edu.rice.cs.hpc.traceviewer.framework.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="edu.rice.cs.hpc.traceviewer.framework.Perspective"
            id="hpctraceview.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Trace View"
            class="edu.rice.cs.hpc.traceviewer.framework.HPCTraceView"
            id="hpctraceview.view">
      </view>
      <view
      		name="Depth View"
      		class="edu.rice.cs.hpc.traceviewer.framework.HPCDepthView"
      		id="hpcdepthview.view">
	  </view>
	  <view
      		name="Call Stack"
      		class="edu.rice.cs.hpc.traceviewer.framework.HPCCallStackView"
      		id="hpccallstackview.view">
	  </view>
   </extension>
   <extension
         id="hpctraceviewer"
         point="org.eclipse.core.runtime.products">
      <product
            application="edu.rice.cs.hpc.traceviewer.application"
            name="hpctraceviewer">
         <property
               name="windowImages"
               value="icons/hpctraceviewer016.png,icons/hpctraceviewer032.png,icons/hpctraceviewer048.png,icons/hpctraceviewer128.png">
         </property>
         <property
               name="appName"
               value="hpctraceviewer">
         </property>
      </product>
   </extension>

</plugin>
