<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         name="hpctraceviewer"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/hpctraceviewer048.png">
         <run
               class="edu.rice.cs.hpc.traceviewer.framework.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="edu.rice.cs.hpc.traceviewer.ui.Perspective"
            id="hpctraceview.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Trace View"
            class="edu.rice.cs.hpc.traceviewer.ui.HPCTraceView"
            id="hpctraceview.view">
      </view>
      <view
      		name="Depth View"
      		class="edu.rice.cs.hpc.traceviewer.ui.HPCDepthView"
      		id="hpcdepthview.view">
	  </view>
	  <view
      		name="Call Path"
      		class="edu.rice.cs.hpc.traceviewer.ui.HPCCallStackView"
      		id="hpccallstackview.view">
	  </view>
   </extension>
   <extension
         id="edu.rice.cs.hpc.traceviewer.product"
         name="hpctraceviewer"
         point="org.eclipse.core.runtime.products">
      <product
            application="edu.rice.cs.hpc.traceviewer.application"
            name="hpctraceviewer">
      </product>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="edu.rice.cs.hpc.traceviewer.application"
            name="hpctraceviewer">
         <property
               name="appName"
               value="hpctraceviewer">
         </property>
      </product>
   </extension>
</plugin>
