<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         name="hpctraceviewer"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/hpctraceviewer048.png">
         <run
               class="edu.rice.cs.hpc.traceviewer.framework.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="edu.rice.cs.hpc.traceviewer.ui.Perspective"
            id="hpctraceview.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Trace View"
            class="edu.rice.cs.hpc.traceviewer.ui.HPCTraceView"
            id="hpctraceview.view">
      </view>
      <view
      		name="Depth View"
      		class="edu.rice.cs.hpc.traceviewer.ui.HPCDepthView"
      		id="hpcdepthview.view">
	  </view>
	  <view
      		name="Call Path"
      		class="edu.rice.cs.hpc.traceviewer.ui.HPCCallStackView"
      		id="hpccallstackview.view">
	  </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="edu.rice.cs.hpc.traceviewer.application"
            name="hpctraceviewer">
         <property
               name="appName"
               value="hpctraceviewer">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="edu.rice.cs.hpc.traceviewer.actions.OpenDatabase"
            id="edu.rice.cs.hpc.traceviewer.openDatabase"
            name="Open database">
      </command>
   </extension>
   <extension
         id="edu.rice.cs.hpc.traceviewer.menus"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="edu.rice.cs.hpc.traceviewer.menu.file"
               label="File"
               mnemonic="F"
               tooltip="File database menu">
            <command
                  commandId="edu.rice.cs.hpc.traceviewer.openDatabase"
                  label="Open database"
                  mnemonic="O"
                  style="push"
                  tooltip="Open a new database (the existing database will be replaced)">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  mnemonic="x"
                  style="push"
                  tooltip="Exit the application">
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
